.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background-color: var(--bg);
  /*imagen de prueba*/
  background-image: url("./bg.png");
  background-position: center;
  background-size: cover;
  background-position-y: -11rem;
}
