.manifesto-container{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 2rem 5rem 8rem 5rem;
    padding: 5rem 10rem;
}

.manifesto-container h2{
    font-size: 3rem;
    padding: 0 0 3rem 0;
    margin: 1rem 0;
}

.manifesto-container p {
    font-size: 1.3rem;
}