:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*temporal*/
  /* height: 600px; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #ffffff;
  --text: #111111;
  --primary: #c62828;

  --bg-altOne: #d1d1d1;
  --bg-altTwo: #f1f1f1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
}

button {
  background-color: var(--transparent);
  height: 2.6rem;
  border-radius: 1.3rem;
  border-color: white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0 2rem;
  width: auto;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f0f0f;
    --text: #eeeeee;
    --primary: #ff5252;
    --text: #eeeeee;
    --text-alt: #0f0f0f;
    --primary: #c62828;
  }
}

[data-theme="light"] {
  --bg: #f1f1f1;
  --bg-altOne: #d1d1d1;
  --bg-altTwo: #0f0f0f;
  --text: #0f0f0f;
  --text-alt: #d1d1d1;
  --primary: #c62828;
  --btn: #313131;
  --transparent: rgba(1, 1, 1, 0);
}

[data-theme="dark"] {
  --bg: #0f0f0f;
  --bg-altOne: #d1d1d1;
  --bg-altTwo: #f1f1f1;
  --text: #eeeeee;
  --text-alt: #0f0f0f;
  --primary: #c62828;
  --btn: #1a1a1a;
  --transparent: rgba(1, 1, 1, 0);
}
