.intro-text {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.2s ease forwards;
  z-index: 9999;
}

.kynki {
  font-size: clamp(3rem, 8vw, 8rem);
  letter-spacing: 0.02em;
  margin-bottom: 2rem;
  position: relative;
  text-shadow: 4px 4px 2px blue,
                -4px -4px 10px red;
}

.kynki::after{
  position: absolute;
  content: attr(data-text);
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: 0;
  text-shadow: 0px 0px blue;
  animation: glitch 1s 0s linear reverse infinite;
}

.intro-text button {
  position: relative;
  background: transparent;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes glitch {

  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  72%,
  100% {
    transform: skew(0);
  }

  41% {
    transform: skew(10deg);
    color: rgb(233, 199, 255);
  }

  42% {
    transform: skew(10deg);
  }

  59% {
    transform: skew(40deg) skew(10deg);
  }

  60% {
    transform: skew(-40deg) skew(-10deg);
    color: rgb(223, 255, 182);
  }

  63% {
    transform: skew(10deg) skew(-20deg);
  }

  70% {
    transform: skew(-50deg) skew(-20deg);
  }

  71% {
    transform: skew(10deg) skew(-10deg);
  }
}