spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://ecommerce-db:5432/ecommerce

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 900000
